<!-- <div class="head">
    <div class="head--titulo">
        <h1>Juegos en Angular</h1>
    </div>
    <div class="head--links">
       <img class="head--links__chest" src="https://img.icons8.com/color/48/null/treasure-chest.png" alt="chest">
       <p class="head--links__chest titulo">Busqueda del tesoro</p>
    </div>
    <div class="head--links">
        <img class="head--mole" src="https://img.icons8.com/external-justicon-flat-justicon/64/null/external-squirrel-autumn-season-justicon-flat-justicon.png" alt="ardilla">
        <p class="head--mole titulo">Whac a mole</p>
     </div>
</div> -->
